@tailwind base;
@tailwind components;
@tailwind utilities;
.two-column #side-bar > div .widget {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-sizing: content-box;
}
.two-column #side-bar > div .widget svg {
  font-size: 30px;
  margin-right: 10px;
  color: #ab95ff;
}
.two-column #side-bar > div .widget p {
  font-size: 16px;
  font-weight: 600;
  color: #57585c;
}
.two-column #side-bar > div .widget.active svg, .two-column #side-bar > div .widget.active p {
  color: #5935f5;
}
.two-column #main-content {
  min-height: calc(100vh - 70px);
}

table {
  padding: 10px;
}

th, td {
  padding: 10px 20px;
  text-align: start;
}

td.actions a {
  margin-right: 10px;
  padding: 0px;
}

.badge {
  padding: 7px 10px;
  font-size: 12px;
  border-radius: 5px;
}

.badge-blue {
  background-color: rgb(226, 245, 255);
  color: rgb(0, 157, 255);
}

.badge-purple {
  background-color: rgb(241, 222, 255);
  color: rgb(199, 42, 199);
}

.badge-red {
  background-color: rgb(255, 245, 247);
  color: rgb(255, 0, 51);
}

.badge-green {
  background-color: rgb(228, 247, 238);
  color: rgb(0, 209, 0);
}

.page-title {
  margin-bottom: 30px;
}
.page-title .title {
  font-size: 32px;
  font-weight: 600;
  color: #202646;
}
.page-title .go-back {
  font-size: 24px;
  color: #5935f5;
  margin-right: 20px;
}

.btn {
  padding: 8px 20px;
  border-radius: 5px;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-round {
  border-radius: 50%;
  font-size: 20px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-purple {
  background-color: #5935f5;
  color: white;
}

.btn-red {
  background-color: rgb(255, 0, 51);
  color: white;
}

.btn-red-line {
  border: 1.5px solid rgb(255, 0, 51);
  background-color: rgb(255, 245, 247);
  color: rgb(255, 0, 51);
}

.btn-light {
  background-color: rgb(243, 244, 246);
  color: #202646;
}

.btn-white {
  background-color: white;
  color: #202646;
}

.block-content {
  padding: 1.5rem 1.5rem 0 1.5rem;
  padding-top: 0;
  opacity: 0;
  overflow: hidden;
  max-height: 0;
  transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out, padding-top 0.1s 0.1s ease-in-out;
}

.block-content.active {
  padding: 1.5rem;
  z-index: 2;
  opacity: 1;
  max-height: 1500px;
}

textarea {
  height: auto;
  resize: none;
}

input, select, textarea {
  border: 1px solid #cfcfcf !important;
  border-radius: 5px !important;
  outline: none;
  padding: 10px;
}

input:focus, select:focus, textarea:focus {
  border: 1px dashed rgb(241, 222, 255) !important;
}

.slide-right-enter {
  transform: translateX(-100%);
}

.slide-right-enter-active {
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
}

.slide-right-exit {
  transform: translateX(0);
}

.slide-right-exit-active {
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
}

.success-message {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 51;
  background-color: green;
  color: white;
  padding: 20px;
}

.error-message {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 51;
  background-color: crimson;
  color: white;
  padding: 20px;
}

#medias-list .card {
  aspect-ratio: 3/2;
  position: relative;
  overflow: hidden;
}
#medias-list .card .card-img {
  width: 100%;
  height: 100%;
}
#medias-list .card .card-img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
#medias-list .card .card-infos {
  opacity: 0;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(237, 237, 237, 0.753);
  padding: 20px;
  transition: 0.5s;
}
#medias-list .card .card-infos p {
  word-wrap: break-word;
  margin-bottom: 5px;
}
#medias-list .card .card-infos:hover {
  top: 0;
  opacity: 1;
}

#loading {
  width: 100%;
  height: 100%;
  z-index: 60;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.591);
}
#loading img {
  width: 80px;
}

.medias-modal {
  display: none;
}

.medias-modal.show {
  display: block;
}

.form-without-media {
  display: none;
}

.form-without-media.show {
  display: block;
}

.btn-show {
  display: none;
}

.btn-show.show {
  display: block;
}

.form-img {
  aspect-ratio: 3/2;
  position: relative;
  overflow: hidden;
}
.form-img .card-img {
  width: 100%;
  height: 100%;
}
.form-img .card-img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.drag-drop {
  aspect-ratio: 4/2;
  position: relative;
  border: 2px dashed rgb(213, 213, 213);
  border-radius: 15px;
}
.drag-drop > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.drag-drop > div img {
  width: 200px;
}
.drag-drop input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.error {
  color: crimson;
}

.quill > .ql-container {
  min-height: 150px;
}

.badge-categorie:nth-child(1n) {
  background-color: #5935f5;
  color: white;
}

.badge-categorie:nth-child(2n) {
  background-color: rgb(165, 233, 255);
  color: rgb(55, 132, 255);
}

.badge-categorie:nth-child(3n) {
  background-color: rgb(255, 244, 190);
  color: rgb(255, 133, 57);
}

#categories > div > div > .css-1p3m7a8-multiValue {
  background-color: hsl(194.77, 100%, 54.09%);
}
#categories > div > div > .css-1p3m7a8-multiValue > div {
  color: white;
}/*# sourceMappingURL=app.css.map */